.albums_all_block{
    .row{
        row-gap: 80px;
        margin-bottom: 145px;
        @media #{$smallLaptop}{
            row-gap: 40px;
        }
        @media #{$bigTab}{
            margin-bottom: 80px;
        }
    }
    .albums_item{
        padding: 0 60px;
        @media #{$smallLaptop}{
            padding: 0 20px;
        }
        @media #{$bigTab}{
            padding: 0;
        }
        .title{
            text-align: center;
            a{
                display: inline-block;
                font-family: Amatic_bold;
                font-size: 68px;
                color: #38a9a1;
                line-height: 1;
                margin-bottom: 15px;
                text-decoration: none;
                border-bottom: 3px solid #fff;
                @media #{$laptop}{
                    font-size: 56px;
                }
                @media #{$smallLaptop}{
                    font-size: 54px;
                }
                @media #{$bigTab}{
                    font-size: 44px;
                }
                @media #{$Tab}{
                    font-size: 32px;
                }
                &:hover{
                    border-bottom: 3px solid #38a9a1;
                }
            }
        }
        .img{
            padding: 0 30px;
            margin-bottom: 10px;
            @media #{$bigTab}{
                padding: 0;
            }
            img{
                width: 100%;
            }
        }
        .info_albums{
            margin: 0 30px;
            background-color: #c3e5e3;
            font-family: GillSans_bold;
            font-size: 21px;
            text-align: center;
            margin-bottom: 10px;
            @media #{$bigTab}{
                margin: 0;
                br{
                    display: none;
                }
            }
        }
        .d-flex {
            padding: 0 30px;
            font-family: GillSans_bold;
            font-size: 21px;
            @media #{$bigTab}{
                padding: 0;
            }
        }
        
    }
    .urls{
        margin-bottom: 188px;
        column-gap: 22px;
        @media #{$smallLaptop}{
            margin-bottom: 128px;
        }
        @media #{$Tab}{
            margin-bottom: 40px;
        }
        @media #{$mobile}{
            column-gap: 2px;
        }
        .prev,.next{
            font-family: GillSans_Regular;
            font-size: 25px; 
            display: flex;
            justify-content: center;
            column-gap: 5px;
            align-items: center;
            @media #{$mobile}{
                font-size: 18px;
            }
            a{
                &:first-child{
                    position: relative;
                    &::after{
                        content: "";
                        display: block;
                        position: absolute;
                        height: 35px;
                        width: 3px;
                        right: -4px;
                        top: 2px;
                        background-color: #38a9a1;
                    }
                }
            }
        }
        .prev{
            a{
                color: #000;
                text-decoration: none;
                padding: 0 2px;
            }
            
        }
        .next{
            a{
                color: #38a9a1;
                text-decoration: none;
                padding: 0 2px;
            }
            
        }
        .center{
            display: flex;
            column-gap: 2px;
            .url_circle{
                display: inline-block;
                height: 42px;
                width: 42px;
                border: 2px solid #38a9a1;
                border-radius: 50%;
                position: relative;
                transition: 0.3s all ease;
                text-decoration: none;
                @media #{$mobile}{
                    height: 35px;
                    width: 35px;
                }
                &:active{
                    background: #38a9a1;
                    span{
                        color: #fff;
                    }
                }
                span{
                    font-family: GillSans_Regular;
                    font-size: 25px;
                    color: #38a9a1;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    @media #{$mobile}{
                        font-size: 22px;
                    }
                }
            }
        }
    }
    .fixed{
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 3px solid #38a9a1;
        position: fixed;
        bottom: -65px;
        left: -65px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s all ease;
    }
    .fixed.active{
        bottom: 65px;
        left: 65px;
        opacity: 1;
        visibility: visible;
    }
}