.documents_block{
    .title{
        font-family: Amatic_bold;
        font-size: 95px;
        color: #38a9a1;
        line-height: 1;
        padding-bottom: 15px;
        border-bottom: 3px solid #38a9a1;
        margin-bottom: 50px;
        @media #{$smallLaptop}{
            font-size: 87px;
        }
        @media #{$bigTab}{
            font-size: 65px;
        }
        @media #{$Tab}{
            font-size: 48px;
        }
        @media #{$mobile}{
            font-size: 35px;
            margin-bottom: 32px;
        }
    }
    ol{
        
        margin-bottom: 60px;
        li{
            font-family: GillSans_bold;
            font-size: 30px;
            font-weight: 600;
            
            a{
                color: #000;
                @media #{$laptop}{
                    font-size: 26px;
                }
                @media #{$smallLaptop}{
                    font-size: 21px;
                }
                @media #{$bigTab}{
                    br{
                        display: none;
                    }
                }
                @media #{$mobile}{
                    font-size: 18px;
                }
            }
        }
    }
    .urls{
        margin-bottom: 188px;
        column-gap: 22px;
        @media #{$smallLaptop}{
            margin-bottom: 128px;
        }
        @media #{$Tab}{
            margin-bottom: 40px;
        }
        @media #{$mobile}{
            column-gap: 2px;
        }
        .prev,.next{
            font-family: GillSans_Regular;
            font-size: 25px; 
            display: flex;
            justify-content: center;
            column-gap: 5px;
            align-items: center;
            @media #{$mobile}{
                font-size: 18px;
            }
            a{
                &:first-child{
                    position: relative;
                    &::after{
                        content: "";
                        display: block;
                        position: absolute;
                        height: 35px;
                        width: 3px;
                        right: -4px;
                        top: 2px;
                        background-color: #38a9a1;
                    }
                }
            }
        }
        .prev{
            a{
                color: #000;
                text-decoration: none;
                padding: 0 2px;
            }
            
        }
        .next{
            a{
                color: #38a9a1;
                text-decoration: none;
                padding: 0 2px;
            }
            
        }
        .center{
            display: flex;
            column-gap: 2px;
            .url_circle{
                display: inline-block;
                height: 42px;
                width: 42px;
                border: 2px solid #38a9a1;
                border-radius: 50%;
                position: relative;
                transition: 0.3s all ease;
                text-decoration: none;
                @media #{$mobile}{
                    height: 35px;
                    width: 35px;
                }
                &:active{
                    background: #38a9a1;
                    span{
                        color: #fff;
                    }
                }
                span{
                    font-family: GillSans_Regular;
                    font-size: 25px;
                    color: #38a9a1;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    @media #{$mobile}{
                        font-size: 22px;
                    }
                }
            }
        }
    }
}